* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
}
